$font-size-grande: 18px ;
$font-size-medium: 16px ;
$font-size-normal: 14px ;
$font-size-small: 12px ;
$color-black:rgba(0, 0, 0, 0.87);
$color-White:rgba(255, 255, 255, 0.87);
$color-grey : #808787;
$color-dark-grey:#676d6d;
$color-select :rgb(255, 204, 0);

.mat-cell{
    text-align: center;
    color: $color-grey;
  }

.mat-cell :hover{
   // font-weight: bold;
    color: $color-select;
    // border: $color-select  1px solid;
  }