<div class="component">
  <div>
    <o-button class="button-back right   width_10  height_2" label="{{'BACK' | oTranslate}}" layout-padding
      [routerLink]="['/main/home']" [queryParams]="{tosearch: 'ok'}">
    </o-button>

  </div>
  <div *ngIf="artistResult">
    <o-row justifyContent="center" layout-align="center">
      <h2 class="datasheet-h2">{{artistResult.name_artist}} ({{'ARTIST' | oTranslate}})</h2>

    </o-row>

    <o-row class="datasheet-information-panel" justifyContent="center" layout-align="center">
      <o-column fxFlex="20" justifyContent="center">
        <o-image class="datasheet-img" attr="image" type="RAISED" height="95%" width="95%"
          data="./assets/images/artist/{{artistResult.img_artist}}.jfif" auto-fit="true" enabled="true" read-only="true"
          show-controls="false" full-screen-button="false" empty-image="./assets/images/no-image.png">
        </o-image>
      </o-column>
      <o-column fxFlex="70" align-items="center" justifyContent="center">
        <o-form class="datashet-inputs-panel" editable-detail="no" show-header="no">
          <o-textarea-input attr="longtext" label="{{'DESCRIPTION' | oTranslate}}" [data]="getArtistDescription()"
            fxFlex="70" height="100%" width="80%" required="no" read-only="true"></o-textarea-input>
        </o-form>
      </o-column>
    </o-row>
  </div>
  <br>
  <br>
  <br>
  <div *ngIf="artistResult">
    <h2>{{ 'DISCOGRAPHY_AVAILABLE' | oTranslate }}</h2>
    <o-grid #grid class="list-grid-item" attr="grid" title="{{ 'DISCOGRAPHY_AVAILABLE' | oTranslate }}"
      [static-data]="getAlbumResult()" columns="name_artist; name_album; year_album; name_genre;" keys="id_artist"
      [cols]="5" query-rows="12" show-page-size="false" page-size-options="4;8;12;16;20" orderable="false"
      quick-filter="false" grid-item-height="1:1.3" sortable-columns="name" sort-column="" controls="false"
      refresh-button="false" pagination-controls="false" gutter-size="1px" detail-mode="none">

      <span *ngIf="grid.dataArray">
        <o-grid-item *ngFor="let list of getAlbumResult()">
          <span [routerLink]="['/main/album', list.id_album]" [queryParams]="{id: list.id_album}"
            href="#">
            <o-column layout-padding class="container-item center ">

              <img class="self-center" src="./assets/images/album/{{list.img_album}}.jfif"
                style="margin-top:8px" width="175rem" height="175rem">
  
              <div class="self-center">
                <p> <strong> {{ list.name_album }} </strong> </p>
              </div>
            </o-column>
          </span>
        </o-grid-item>
      </span>
    </o-grid>
  </div>
</div>