<button mat-stroked-button color="primary"
[routerLink]="['/main/home']" [queryParams]="{searchSong: 'ok'}">
Atras
</button>


<div *ngIf="artistResult">
  <h3>DATOS DEL ARTISTA</h3>
  <p><strong>{{'ARTIST' | oTranslate}} = </strong> {{artistResult.name_artist}}</p>
  <p><strong>{{'DESCRIPTION' | oTranslate}} = </strong> {{artistResult.description_album}}</p>
  <hr>
  <div *ngIf="albumResult">
    <h3>DISCOGRAFÍA DEL ARTISTA</h3>
    <div *ngFor="let album of albumResult; let i = index">
      {{i+1}}. {{album.name_album}}
    </div>
  </div>
</div>