<div *ngIf="dataAlbums">
  <p style="text-align: left; font-size: xx-large; color: white"> <strong>{{'LAST_ALBUMS_ADDED' | oTranslate}}</strong></p>
  <br>
  <o-grid #grid class="list-grid-item" attr="grid" title="{{ 'PERSONAL_SONGLIST' | oTranslate }}" [static-data]="dataAlbums"
    columns="name_album;" keys="id_album" [cols]="5" query-rows="1" show-page-size="false" page-size-options="2" pageable="no"
    orderable="false" quick-filter="false" grid-item-height="1:1.3" sortable-columns="name_albums"
    sort-column="id_album" controls="false" refresh-button="false" pagination-controls="false" gutter-size="1px"
    detail-mode="none">

    <span *ngIf="grid.dataArray">
      <o-grid-item *ngFor="let list of grid.dataArray">
        <a [routerLink]="['/main/album', list.id_album]" [queryParams]="{id: list.id_album}" href="#">
          <o-column layout-padding class="container-item center ">

            <img class="self-center" *ngIf="list.img_album" src="./assets/images/album/{{list.img_album}}.jfif"
              style="margin-top:8px" width="175rem" height="175rem">
            <img class="self-center" *ngIf="!list.img_album" src="./assets/images/album/0.jfif" style="margin-top:8px"
              width="175rem" height="175rem">
            <div class="self-center">
              <p> <strong> {{ list.name_album }} </strong> </p>
              <p>  {{ list.name_artist }}  </p>
            </div>
          </o-column>
        </a>
      </o-grid-item>
    </span>
  </o-grid>
</div>