<section id="register" class="center between">
  <div>
    <h2 class="datasheet-h2">{{'NEW_USER' |oTranslate}}</h2>
    <form class="form-register" appearance="fill" [formGroup]="registerForm" (ngSubmit)="onRegisterUser()">


      <div class="colum center around midddle between ">

        <div class="row-reg center between  ">
          <mat-form-field class="column-reg" [ngClass]="">
            <mat-label>{{'NICK' | oTranslate}}</mat-label>
            <input class="input-register" matInput type="text" formControlName="nick" placeholder="Your Nick"
              required="true" variant="outlined">
          </mat-form-field>
          <mat-form-field class="column-reg" [ngClass]="">
            <mat-label>{{'NAME' | oTranslate}}</mat-label>
            <input class="input-register" matInput type="text" formControlName="name" placeholder="Your Name">
          </mat-form-field>
        </div>
        <div class="row-reg center between">
          <mat-form-field class="column-reg" [ngClass]="">
            <mat-label>{{'PASSWORD' | oTranslate}}</mat-label>
            <input class="input-register" matInput type="password" class="form-control" formControlName="password"
              name="password" ng-model="user.pass" placeholder="{{PASSWORD}}" class="form-control input" required="true"
              (keyup)="checkPasswords($event.target.value)">
            <mat-hint align="start">
              <strong>
                <span *ngIf=" !this.minLenght " style="color: red;">
                  {{'MIN_LENGHT_SIX' | oTranslate}}
                </span>
              </strong>
            </mat-hint>
          </mat-form-field>
          <mat-form-field class="column-reg" [ngClass]="">
            <mat-label>{{'SURNAME' | oTranslate}}</mat-label>
            <input class="input-register" matInput type="text" formControlName="surname" placeholder="Your surname>">
          </mat-form-field>
        </div>
        <div class="row-reg center between">
          <mat-form-field class="column-reg" [ngClass]="">
            <mat-label>{{'CONFIRM_PASSWORD' | oTranslate}}</mat-label>
            <input class="input-register" matInput type="password" formControlName="confirmPass" name="confirmPass"
              ng-model="user.confirmPassword" placeholder="{{CONFIRM_PASSWORD}}" compare-to="user.password"
              class="form-control input" required="true" (keyup)="checkPasswords($event.target.value)">
            <mat-hint align="start">
              <strong>
                <span
                  *ngIf=" this.match && this.registerForm.value.password.length > 5 && this.registerForm.value.confirmPass > 0"
                  style="color: green;">
                  {{ 'PASSWORD_MATCH' | oTranslate }}
                </span>
                <span *ngIf=" !this.match && this.minLenght && this.registerForm.value.confirmPass > 0"
                  style="color: red;">
                  {{'PASSWORD_NOT_MATCH' | oTranslate}}
                </span>
              </strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="column-reg" [ngClass]="">
            <mat-label>{{'EMAIL' | oTranslate}}</mat-label>
            <input class="input-register" matInput type="email" formControlName="email" placeholder="Your email">
          </mat-form-field>
        </div>


          <div class="row-reg center between">
            <mat-form-field class="column-reg" [ngClass]="">

              <mat-label>{{'BIRTHDATE' | oTranslate}}</mat-label>
              <input class="input-register" matInput type="date" formControlName="birthdate"
                placeholder="Your birthdate">
            </mat-form-field>



            <mat-form-field class="column-reg" [ngClass]="">
              <mat-label>{{'ABOUT_YOU' | oTranslate}}</mat-label>
              <textarea class="input-register" matInput formControlName="description"
                placeholder="{{'ABOUT_YOU' | oTranslate}}"></textarea>
            </mat-form-field>
          </div>

          <div class="row-reg center between">
            <o-column>
              <button mat-raised-button color="primary" type="submit"
                [disabled]="!registerForm.valid || !this.match">{{'CREATE_USER' | oTranslate}}</button>
            </o-column>
            <o-column>
              <button mat-button>Cancel</button>
            </o-column>
          </div>
        
      </div>

    </form>
  </div>

</section>