<section id="register" class="center">
  <form class="form-register" appearance="fill" [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
  
      <div class="row-reg center">
        <o-column>
          <h2 class="h2-profile">{{'EDIT_PROFILE' | oTranslate}}</h2>
          <h3 class="h3-profile">{{this.contactForm.value.name}}</h3>

          

            <input class="title-user-profile input-register" matInput type="text" formControlName="nick" placeholder="Your Nick"
            required="true" variant="outlined"  readonly="yes">
        </o-column>
      </div>
      <div class="row-reg">
        <o-column>
          <div class="row-reg center">
            <o-image attr="image" enabled="true" read-only="false" show-controls="false" full-screen-button="true"
              empty-image="./assets/images/no-image.png" auto-fit="false">
            </o-image>
          </div>
        </o-column>
        <o-column>
          <div class="row-reg   ">
            <mat-form-field class="column-reg" [ngClass]="">
              <mat-label>{{'NAME' | oTranslate}}</mat-label>
              <input class="datasheet-input" matInput type="text" formControlName="name" placeholder="Your Name">
            </mat-form-field>
            <mat-form-field class="column-reg" [ngClass]="">
              <mat-label>{{'SURNAME' | oTranslate}}</mat-label>
              <input class="datasheet-input" matInput type="text" formControlName="surname" placeholder="Your Surname">
            </mat-form-field>
          </div>
         
          <div class="row-reg    ">
            <mat-form-field class="column-reg" [ngClass]="">
              <mat-label>{{'EMAIL' | oTranslate}}</mat-label>
              <input class="datasheet-input" matInput type="email" formControlName="email" placeholder="Your email">
            </mat-form-field>
            <mat-form-field class="column-reg" [ngClass]="">
              <mat-label>{{'BIRTHDATE' | oTranslate}}</mat-label>
              <input class="datasheet-input" matInput type="date" formControlName="birthdate"
                placeholder="Your birthdate">
            </mat-form-field>
          </div>
          
          <div class="row-reg    ">
            <mat-form-field class="column-reg" [ngClass]="">
              <input matInput placeholder="New password" [type]="hide ? 'password' 
              : 'text'" formControlName="newpassw">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 
              'visibility_off'}}</mat-icon>
              <mat-error *ngIf="passFormControl.hasError('required')">
                Please enter your newpassword
              </mat-error>
            </mat-form-field>
            <mat-form-field class="column-reg" [ngClass]="">
              <input matInput placeholder="Confirm password" [type]="hide ? 
                  'password' : 'text'" formControlName="repnewpassw">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 
                    'visibility_off'}}</mat-icon>
              <mat-error *ngIf="newpassw != repnewpassw ">
                Confirm your password
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row-reg center   ">
            <mat-form-field class="column-reg" [ngClass]="">
              <mat-label>{{'DESCRIPTION' | oTranslate}}</mat-label>
              <textarea appearance="fill" class=" width_100" matInput formControlName="description"
                placeholder="{{'ABOUT_YOU' | oTranslate}}"></textarea>
            </mat-form-field>
          </div>
          <div class="row-buttons ">
            <o-column>
              <button mat-raised-button color="primary" type="submit"
                [disabled]="!inputChange()">{{'SAVE' | oTranslate}}</button>
            </o-column>
            <o-column>
              <o-button class="button-back" attr="raised" type="RAISED" label="{{'CANCEL' | oTranslate}}" layout-padding></o-button>
            </o-column>
          </div>
        </o-column>
      </div>
  </form>
</section>