$font-size-grande: 18px ;
$font-size-medium: 16px ;
$font-size-normal: 14px ;
$font-size-small: 12px ;
$color-black:rgba(0, 0, 0, 0.87);
$color-White:rgba(255, 255, 255, 0.87);
$color-grey : #808787;
$color-dark-grey:#676d6d;
$color-select :rgb(255, 204, 0);


.button-back button{
   
    margin: 2k  rem;
    //background-color: rgb(197, 236, 232);
    text-align: center;
    //color: #f7a240;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    
}

.component{   
    width: auto;
    height: auto;
    padding-top: 1.5%;
    padding-left: 1.5%;
    padding-right: 3%;
    padding-bottom: 3%;
    background-color: #e5e6e8;
    text-decoration-color: #d89237;
}

.button-back{
   
    margin: 2k rem;
    text-align: center;
    
}


