
<form class="example-form">

  <img src="assets/img/'{{img_song}}'">


  <mat-form-field class="example-full-width">
    <mat-label>{{'NAME_SONG' | oTranslate }}</mat-label>
    <input matInput placeholder="" name='{{id_song}}' value="{{name_song}}">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{'DESCRIPTION_SONG' | oTranslate }}</mat-label>
    <textarea matInput placeholder="" name='desc-song' value="{{description_song}}">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{'NAME_ARTIST' | oTranslate }}</mat-label>
    <input matInput placeholder="" name='{{id_artist}}' value="{{name_artist}}">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <mat-label>{{'NAME_GENRE' | oTranslate }}</mat-label>
    <input matInput placeholder="" name='{{id_genre}}' value="{{name_genre}}">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{'NAME_ALBUM' | oTranslate }}</mat-label>
    <input matInput placeholder="" name='{{id_album}}' value="{{name_album}}">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{'YEAR_ALBUM' | oTranslate }}</mat-label>
    <input matInput placeholder="" name='{{yer-album}}' value="{{year_album}}">
  </mat-form-field>

</form>