<div class="component">
  <div>
    <o-button class="button-back" attr="raised" type="RAISED" label="{{'BACK' | oTranslate}}" layout-padding
      [routerLink]="['/main/home']" [queryParams]="{tosearch: 'ok'}"></o-button>
  </div>
  <div *ngIf="albumResult">
    <o-column fxFlex justifyContent="center" >
      <!----Information panel---->
      <o-row  justifyContent="center" layout-align="center">
        <h2  fxFlex justifyContent="center" class="datasheet-h2">{{albumResult.name_album}}</h2>
      </o-row>

      <o-row class="datasheet-information-panel"  justifyContent="center" layout-align="center" >
        <o-column fxFlex="20" justifyContent="center">
          <o-image class="datasheet-img" attr="image" type="RAISED"  height="90%" width="20%"
            data="./assets/images/album/{{albumResult.img_album}}.jfif" auto-fit="true" enabled="true" read-only="true"
            show-controls="false" full-screen-button="false" empty-image="./assets/images/no-image.png">
          </o-image>
        </o-column>
        <o-column fxFlex="40"  align-items ="center" justifyContent="center">
          <o-form class="datashet-inputs-panel" editable-detail="no" show-header="no">
            <o-text-input fxFlex class="datasheet-text-input-hover" attr="artist" label="{{'ARTIST' | oTranslate}}"
              data="{{albumResult.name_artist}}" [routerLink]="['/main/artist', albumResult.id_artist]"
              [queryParams]="{id: albumResult.id_artist}" href="#">
            </o-text-input>
            <o-text-input class="datasheet-input" attr="genre" label="{{'GENRE' | oTranslate}}" fxFlex
              data="{{albumResult.name_genre}}">
            </o-text-input>
            <o-text-input class="datasheet-input" attr="year" label="{{'DATE' | oTranslate}}" fxFlex type="date"
              data="{{albumResult.year_album | date: 'yyyy'}}" read-only="yes">
            </o-text-input>
          </o-form>
        </o-column>
      </o-row>
    </o-column>
  </div>

  <!-----Expansion panel------>

  <div *ngIf="songResult">
    <mat-accordion class="datasheet-acordion">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-panel-description>
              {{'SHOW_SONGLIST' | oTranslate}}
            </mat-panel-description>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <o-list [static-data]="getSongResult()" title="{{'ALBUM_SONGLIST' | oTranslate}}" quick-filter="false"
          refresh-button="false" insert-button="false" insert-button-floatable="false" delete-button="false"
          selectable="true" dense="false" detail-button-in-row="false" edit-button-in-row="false" detail-mode="none">
          <o-list-item *ngFor="let song of songResult">
            <p class="item-hover" [routerLink]="['/main/song', song.id_song]" [queryParams]="{id: song.id_song}"
              href="#">{{song.name_song}}</p>
          </o-list-item>
          <!--<div class="div-button-add">
            <o-button class="button-add" attr="raised" type="RAISED" label="{{'ADD' | oTranslate}}"></o-button>
          </div>-->
        </o-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>