<!-- Radio => onclick  -->
<div class="component">
<div *ngIf="msm">
  <app-send-menssages [MSM]="msm"></app-send-menssages>
  <app-receive-menssages></app-receive-menssages>
</div>
  <div class="div-center div-radioButon">
    <p>
      <mat-label class='label-radio-button mat-label-element'>
        {{'SELECT_OPTION' | oTranslate}} </mat-label>
    </p>
    <p>
      <mat-radio-group class="mat-radio-group-element">
        <div class="input-radio-buttns">
          <mat-radio-button #radiobutton class="form-check-input-song" type="radio" value="song" name="radio-search"
            (change)="onClickRadio($event)"> {{'SONG' | oTranslate}} </mat-radio-button>
          <mat-radio-button #radiobutton class="form-check-input-album" type="radio" value="album" name="radio-search"
            (change)="onClickRadio($event)"> {{'ALBUM' | oTranslate}} </mat-radio-button>
          <mat-radio-button #radiobutton class="form-check-input-artist" type="radio" value="artist" name="radio-search"
            (change)='onClickRadio($event)'> {{'ARTIST' | oTranslate}} </mat-radio-button>
          <mat-radio-button #radiobutton class="form-check-input-genre" type="radio" value="genre" name="radio-search"
            (change)="onClickRadio($event)"> {{'GENRE' | oTranslate}} </mat-radio-button>
          <mat-radio-button #radiobutton class="form-check-input-genre" type="radio" value="all" name="radio-search"
            checked="checked" (change)="onClickRadio($event)"> {{'ALL' | oTranslate}} </mat-radio-button>
        </div>
      </mat-radio-group>
    </p>
  </div>
  <div class="div-center div-input">
    <form class="form-width">
      <mat-form-field class="form-field-width">
        <mat-label>{{'SEARCH' | oTranslate}}</mat-label>
        <input class="mat-input-element" id="input" matInput #message maxlength="256"
          placeholder="{{'EXAMPLE_TEXT_SEARCH' | oTranslate}}" type="text" value="" name="input-search"
          (keyup)="onItemChange($event.target.value)" autocomplete="off">
        <mat-hint align="start">
          <strong>
            <span *ngIf=" !mnjError " style="color: #0199c3">
              {{'THREE_LETTER_MSJ' | oTranslate}}
            </span>
            <span class='mensaje-error' *ngIf=" mnjError  && mnjError.length > 0">
              {{'THREE_LETTER_MSJ' | oTranslate}}
            </span>
          </strong>
        </mat-hint>
        <mat-hint align="end" style="color: #0199c3;">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>
    </form>
  </div>

  <div *ngIf=" searchSongs.length > 0">
    <app-result-container [data]="searchSongs"></app-result-container>
  </div>
  